.add-task {
	display: flex;
	justify-content: center;
	gap: 20px;
    margin-top: 50px;
}

.inp input {
	width: 400px;
	height: 40px;
    font-size: 20px;
    padding-left: 10px;
}

.btn button {
	width: 100px;
	height: 40px;
    font-size: 20px;

}

.mode button {
	width: 100px;
	height: 40px;
    font-size: 20px;
}


