.new-task {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 640px;
    margin: 20px auto;
    align-items: end;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}



.task {
    font-size: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    width: 100px;
    height: 40px;
}